<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easy.admin.dao.RoleDao">
	<!-- 增加操作 -->
	<insert id="create" parameterType="Role" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO
			role(
				 id, createTime, createUser, modifyTime, modifyUser, name, code				
			)
		VALUES(
			 #{id}, #{createTime}, #{createUser}, #{modifyTime}, #{modifyUser}, #{name}, #{code}			
		)
	</insert>

	<!-- 更新操作 -->
	<update id="update" parameterType="Role">
		UPDATE
			role
		<set>

			<if test="id!=null">
			id = #{id},
			</if>
								
			<if test="modifyTime!=null">
			modifyTime = #{modifyTime},
			</if>
				
			<if test="modifyUser!=null and modifyUser.trim()!=''">
			modifyUser = #{modifyUser},
			</if>
						
			<if test="name!=null and name.trim()!=''">
			name = #{name},
			</if>
						
			<if test="code!=null and code.trim()!=''">
			code = #{code},
			</if>
						
		</set>
		WHERE
		id = #{id}
				
	</update>

	<!-- 根据主键删除 -->
	<delete id="deleteByPrimaryKeys">
		DELETE FROM
			role
		WHERE
			id IN
		
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 根据主键查询 -->
	<select id="getByPrimaryKey" resultMap="resultMap" parameterType="long">
		SELECT
		<include refid="columns"/>
		FROM
			role
		WHERE
			id = #{id}
				
	</select>
	
	<!-- 根据参数查询列表 -->
	<select id="selectByCriteria" resultMap="resultMap" parameterType="Role">
		SELECT
		<include refid="columns"/>
		FROM
			role
		<include refid="defaultCriteria"/>
		<include refid="orderByClause"/>
	</select>
	
	<!-- 根据参数查询数量-->
	<select id="countByCriteria" resultType="int" parameterType="long">
		SELECT
			count(*)
		FROM
			role
		<include refid="defaultCriteria"/>
	</select>
	
	<!-- 默认的查询条件 -->
	<sql id="defaultCriteria">
		<where>
			<if test="keyword!=null and keyword!=''">
				AND (name LIKE "%"#{keyword}"%" or code LIKE "%"#{keyword}"%" )
			</if>
			<if test="code!=null and code!=''">
			    AND code = #{code}
			</if>
		</where>
	</sql>
	
	<!-- 排序字段 -->
	<sql id="orderByClause">
		<if test="orderByClause!=null">
			${orderByClause}
		</if>
	</sql>
	
	<!-- 默认的数据库字段 -->
	<sql id="columns">
		id,createTime,createUser,modifyTime,modifyUser,name,code	
	</sql>


	<!-- 默认的数据库映射 -->
	<resultMap type="Role" id="resultMap">
		<!-- 主键ID -->
		<result property="id" column="id" />
		<!-- 创建时间 -->
		<result property="createTime" column="createTime" />
		<!-- 创建人 -->
		<result property="createUser" column="createUser" />
		<!-- 修改时间 -->
		<result property="modifyTime" column="modifyTime" />
		<!-- 修改人 -->
		<result property="modifyUser" column="modifyUser" />
		<!-- 角色名称 -->
		<result property="name" column="name" />
		<!-- 角色编码 -->
		<result property="code" column="code" />
	
	</resultMap>
</mapper>