<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Console Appender -->
    <appender name="STDOUT-APPENDER" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%r][%p][%t] %d{HH:mm:ss,SSS} method:%l %m%n"/>
        </layout>
    </appender>

    <!-- Default Appender -->
    <appender name="DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${catalina.home}/logs/easy.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%r][%p][%t] %d{HH:mm:ss,SSS} method:%l %m%n"/>
        </layout>
    </appender>

    <!-- easy logger -->
    <logger name="com.easy" additivity="true">
        <appender-ref ref="DEFAULT-APPENDER"/>
    </logger>

    <!--sql logger-->
    <logger name="java.sql" additivity="true">
        <level value="debug"></level>
        <appender-ref ref="DEFAULT-APPENDER"/>
    </logger>

    <!-- root logger -->
    <root>
        <level value="debug"/>
        <appender-ref ref="STDOUT-APPENDER"/>
        <appender-ref ref="DEFAULT-APPENDER"/>
    </root>

</log4j:configuration>