<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easy.admin.dao.PermissionDao">
	<!-- 增加操作 -->
	<insert id="create" parameterType="Permission" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO
			permission(
				 id, parentId, createTime, createUser, modifyTime, modifyUser, name, code				
			)
		VALUES(
			 #{id}, #{parentId}, #{createTime}, #{createUser}, #{modifyTime}, #{modifyUser}, #{name}, #{code}			
		)
	</insert>

	<!-- 更新操作 -->
	<update id="update" parameterType="Permission">
		UPDATE
			permission
		<set>

			<if test="id!=null">
			id = #{id},
			</if>
				
			<if test="parentId!=null">
			parentId = #{parentId},
			</if>
								
			<if test="modifyTime!=null">
			modifyTime = #{modifyTime},
			</if>
				
			<if test="modifyUser!=null and modifyUser.trim()!=''">
			modifyUser = #{modifyUser},
			</if>
						
			<if test="name!=null and name.trim()!=''">
			name = #{name},
			</if>
						
			<if test="code!=null and code.trim()!=''">
			code = #{code},
			</if>
						
		</set>
		WHERE
		id = #{id}
				
	</update>

	<!-- 根据主键删除 -->
	<delete id="deleteByPrimaryKeys">
		DELETE FROM
			permission
		WHERE
			id IN
		
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 根据主键查询 -->
	<select id="getByPrimaryKey" resultMap="resultMap" parameterType="long">
		SELECT
		<include refid="columns"/>
		FROM
			permission
		WHERE
			id = #{id}
				
	</select>
	
	<!-- 根据参数查询列表 -->
	<select id="selectByCriteria" resultMap="resultMap" parameterType="Permission">
		SELECT
		<include refid="columns"/>
		FROM
			permission
		<include refid="defaultCriteria"/>
		<include refid="orderByClause"/>
	</select>
	
	<!-- 根据参数查询数量-->
	<select id="countByCriteria" resultType="int" parameterType="long">
		SELECT
			count(*)
		FROM
			permission
		<include refid="defaultCriteria"/>
	</select>
	
	<!-- 查询用户所具有的权限 -->
	<select id="selectByUserId" resultMap="resultMap" parameterType="java.lang.Long">
		SELECT
		<include refid="columns"/>
		FROM
			permission t
		where 
			EXISTS(
				SELECT 1 FROM user_role u where u.userId=#{userId} 
				AND EXISTS(SELECT 1 FROM role_permission r WHERE 
					(r.permissionId=t.id OR r.permissionId=t.parentId) 
				AND r.roleId=u.roleId)
			)
		ORDER BY id DESC
	</select> 
	
	<!-- 默认的查询条件 -->
	<sql id="defaultCriteria">
		<where>
			<!-- 关键字查询字段 -->
			<if test="keyword!=null and keyword!=''">
				AND name like "%"#{keyword}"%"
			</if>
		</where>
	</sql>
	
	<!-- 排序字段 -->
	<sql id="orderByClause">
		<if test="orderByClause!=null">
			${orderByClause}
		</if>
	</sql>
	
	<!-- 默认的数据库字段 -->
	<sql id="columns">
		id,parentId,createTime,createUser,modifyTime,modifyUser,name,code	
	</sql>


	<!-- 默认的数据库映射 -->
	<resultMap type="Permission" id="resultMap">
		<!-- 主键ID -->
		<result property="id" column="id" />
		<!-- 父权限ID -->
		<result property="parentId" column="parentId" />
		<!-- 创建时间 -->
		<result property="createTime" column="createTime" />
		<!-- 创建人 -->
		<result property="createUser" column="createUser" />
		<!-- 修改时间 -->
		<result property="modifyTime" column="modifyTime" />
		<!-- 修改人 -->
		<result property="modifyUser" column="modifyUser" />
		<!-- 权限名称 -->
		<result property="name" column="name" />
		<!-- 权限编码 -->
		<result property="code" column="code" />
	
	</resultMap>
</mapper>