<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easy.admin.dao.ResourceDao">
	<!-- 增加操作 -->
	<insert id="create" parameterType="Resource" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO
			resource(
				 id, createTime, createUser, modifyTime, modifyUser, name, url, isSystem, groupCode				
			)
		VALUES(
			 #{id}, #{createTime}, #{createUser}, #{modifyTime}, #{modifyUser}, #{name}, #{url}, #{isSystem}, #{groupCode}			
		)
	</insert>

	<!-- 更新操作 -->
	<update id="update" parameterType="Resource">
		UPDATE
			resource
		<set>

			<if test="id!=null">
			id = #{id},
			</if>
								
			<if test="modifyTime!=null">
			modifyTime = #{modifyTime},
			</if>
				
			<if test="modifyUser!=null and modifyUser!=''">
			modifyUser = #{modifyUser},
			</if>
						
			<if test="name!=null and name!=''">
			name = #{name},
			</if>
						
			<if test="url!=null and url!=''">
			url = #{url},
			</if>
						
			<if test="isSystem!=null">
			isSystem = #{isSystem},
			</if>
				
			<if test="groupCode!=null and groupCode!=''">
			groupCode = #{groupCode},
			</if>
						
		</set>
		WHERE
		id = #{id}
				
	</update>

	<!-- 根据主键删除 -->
	<delete id="deleteByPrimaryKeys">
		DELETE FROM
			resource
		WHERE
			id IN
		
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 根据主键查询 -->
	<select id="getByPrimaryKey" resultMap="resultMap" parameterType="long">
		SELECT
		<include refid="columns"/>
		FROM
			resource
		WHERE
			id = #{id}
				
	</select>
	
	<!-- 根据参数查询列表 -->
	<select id="selectByCriteria" resultMap="resultMap" parameterType="Resource">
		SELECT
		<include refid="columns"/>
		FROM
			resource
		<include refid="defaultCriteria"/>
		<include refid="orderByClause"/>
	</select>
	
	<!-- 根据参数查询数量-->
	<select id="countByCriteria" resultType="int" parameterType="long">
		SELECT
			count(*)
		FROM
			resource
		<include refid="defaultCriteria"/>
	</select>
	
	<!-- 默认的查询条件 -->
	<sql id="defaultCriteria">
		<where>
			<!-- 关键字查询字段 -->
			<if test="keyword!=null and keyword!=''">
				AND name like "%"#{keyword}"%"
			</if>
			<if test="url!=null and url!=''">
				AND url = #{url}
			</if>
		</where>
	</sql>
	
	<!-- 排序字段 -->
	<sql id="orderByClause">
		<if test="orderByClause!=null">
			${orderByClause}
		</if>
	</sql>
	
	<!-- 默认的数据库字段 -->
	<sql id="columns">
		id,createTime,createUser,modifyTime,modifyUser,name,url,isSystem,groupCode	
	</sql>


	<!-- 默认的数据库映射 -->
	<resultMap type="Resource" id="resultMap">
		<!-- 主键ID -->
		<result property="id" column="id" />
		<!-- 创建时间 -->
		<result property="createTime" column="createTime" />
		<!-- 创建人 -->
		<result property="createUser" column="createUser" />
		<!-- 修改时间 -->
		<result property="modifyTime" column="modifyTime" />
		<!-- 修改人 -->
		<result property="modifyUser" column="modifyUser" />
		<!-- 名称 -->
		<result property="name" column="name" />
		<!-- URL -->
		<result property="url" column="url" />
		<!-- 是否系统 -->
		<result property="isSystem" column="isSystem" />
		<!-- 组编码 -->
		<result property="groupCode" column="groupCode" />
	
	</resultMap>
</mapper>